.animation-item {
  visibility: inherit;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 39);

}

.mandarin {
  bottom: -100px;
  right: 180px;
}

.animation-item .animation-image {

  -webkit-transition: -webkit-transform 1.5s ease-out;
  -moz-transition: transform 1.5s ease-out, -moz-transform 1.5s ease-out;
  transition: transform 1.5s ease-out, -webkit-transform 1.5s ease-out, -moz-transform 1.5s ease-out, -o-transform 1.5s ease-out;
  

    -webkit-transition: -webkit-transform 1.5s ease-out;
    transition: -webkit-transform 1.5s ease-out;
    -o-transition: -o-transform 1.5s ease-out;
    -moz-transition: transform 1.5s ease-out, -moz-transform 1.5s ease-out;
    transition: transform 1.5s ease-out;
    transition: transform 1.5s ease-out, -webkit-transform 1.5s ease-out, -moz-transform 1.5s ease-out, -o-transform 1.5s ease-out;
    

  
}



.m-circle--200 {

  width: 8.5rem;
  height: 8.5rem;
}

.m-circle--orange {

  background-image: -webkit-linear-gradient(330deg, #f6d365 0, #fda085 100%);
  background-image: -o-linear-gradient(330deg, #f6d365 0, #fda085 100%);
  background-image: linear-gradient(120deg, #f6d365 0, #fda085 100%);

}

.m-circle--x1 {

  top: 19%;
  right: 15%;
  -webkit-animation: morph 8s ease infinite alternate;
  animation: morph 5s ease infinite alternate;

}

.m-circle {

  position: absolute;
  z-index: 1;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;

}

.m-circle--x1 {

  top: 19%;
  right: 15%;
  -webkit-animation: morph 8s ease infinite alternate;
  animation: morph 5s ease infinite alternate;

}

element {

  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);

}

@keyframes morph {
  0% {

    border-radius: 17% 83% 20% 80% / 37% 25% 75% 63%;

  }

  100% {

    border-radius: 60% 40% 83% 17% / 54% 29% 71% 46%;

  }

  0% {

    border-radius: 17% 83% 20% 80% / 37% 25% 75% 63%;

  }

  100% {

    border-radius: 60% 40% 83% 17% / 54% 29% 71% 46%;

  }
}
